---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import Link from "@components/Link.astro";
import { SITE, HOME, SOCIALS } from "@consts";

// Helper function to format date
function formatDate(date: Date): string {
  const month = date.toLocaleString("default", { month: "long" });
  const year = date.getFullYear();
  return `${month} ${year}`;
}

---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h1 class="animate font-ba font-bold text-black dark:text-white" style="font-size: 7em; text-align: center;">
      SOLA
    </h1>
    <p class="animate font-ba font-bold text-black dark:text-white" style="font-size: 4em; line-height: 1.2; text-align: center;">
      <Link underline={true} href="/marketing">Marketin</Link><Link underline={false} href="/marketing">g</Link> strategist <br>leveraging <Link underline={true} href="/data">data and ai</Link>
    </p>

    <ul class="flex flex-wrap gap-2 animate text-lg mt-8 justify-center">
      {SOCIALS.map(SOCIAL => (
        <li class="flex gap-x-2 text-nowrap" >
          <Link underline={false} underlineOffset="after:bottom-1" underlineHeight="after:h-px" href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
            {SOCIAL.NAME}
          </Link>
          {"/"}
        </li>
      ))}
      <li class="line-clamp-1">
        <Link underline={false} underlineOffset="after:bottom-1" underlineHeight="after:h-px" href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>
          {SITE.EMAIL}
        </Link>
      </li>
    </ul>
  </Container>
</PageLayout>


