---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import Link from "@components/Link.astro";
import { SITE, HOME, SOCIALS } from "@consts";
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container class="flex flex-col items-center justify-center min-h-screen">
    <div class="text-center">
      <p class="animate font-Lc text-black dark:text-white text-left title-text mt-2 sm:mt-4 md:mt-6 overflow-visible">
        Sola Ebina <br>        
        <span class="no-space-flex"> <Link href="/marketing" underline={true}>marketin</Link><Link href="/marketing" underline={false}>g</Link>&nbsp;strategist</span>
      leveraging <Link underline={true} href="/data" >data and ai</Link>
      </p>  
    </div>
  </Container>
</PageLayout>
