---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header class="py-6 md:py-6">
  <Container>
    <nav class="hidden md:flex items-center justify-between">
      <!-- Left side - Home -->
      <div class="flex items-center">
        <Link href="/" underline={false} class="font-ba text-lg">
          Home
        </Link>
      </div>
      
      <!-- Center - Marketing, Data Analytics, Blog -->
      <div class="flex items-center space-x-8">
        <Link href="/work-in-progress" underline={false} class="font-ba text-lg">
          Marketing
        </Link>
        
        <Link href="/data" underline={false} class="font-ba text-lg">
          Data & AI
        </Link>
        
        <Link href="/blog" underline={false} class="font-ba text-lg">
          Blog
        </Link>
      </div>
      
      <!-- Right side - Thoughts -->
      <div class="flex items-center">
        <Link href="/thoughts" underline={false} class="font-ba text-lg">
          Thoughts
        </Link>
      </div>
    </nav>
  </Container>
</header>

