---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
---

<header class="py-6">
  <Container>
    <nav class="flex flex-col sm:flex-row items-start sm:items-center justify-start sm:justify-between gap-4 sm:gap-0">
      <!-- Mobile Navigation -->
      <div class="flex flex-row items-center gap-4 sm:hidden">
        <Link href="/" underline={false} class="font-ba text-lg">Home</Link>
        <Link href="/work-in-progress" underline={false} class="font-ba text-lg">Marketing</Link>
        <Link href="/data" underline={false} class="font-ba text-lg">Data & AI</Link>
      </div>
      
      <div class="flex flex-row items-center gap-4 sm:hidden">
        <Link href="/blog" underline={false} class="font-ba text-lg">Blog</Link>
        <Link href="/thoughts" underline={false} class="font-ba text-lg">Thoughts</Link>
      </div>
      
      <!-- Desktop Navigation -->
      <div class="hidden sm:flex items-center gap-8">
        <Link href="/" underline={false} class="font-ba text-lg">Home</Link>
        <Link href="/work-in-progress" underline={false} class="font-ba text-lg">Marketing</Link>
        <Link href="/data" underline={false} class="font-ba text-lg">Data & AI</Link>
        <Link href="/blog" underline={false} class="font-ba text-lg">Blog</Link>
        <Link href="/thoughts" underline={false} class="font-ba text-lg">Thoughts</Link>
      </div>
    </nav>
  </Container>
</header>

